@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

body {
  background-color: #fff;
  font-family: 'Lato', 'Arial', sans-serif !important;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}

.NavbarBrand {
  font-family: 'Style Script', cursive;
}

/* NavBar */
.nav-bar {
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}

.NavbarBrand {
  color: rgb(28, 49, 89) !important;
  font-size: 35px !important;
  font-weight: 500;
}

.nav-link {
  color: white !important;
  cursor: pointer;
  padding-right: 50px !important;
  font-weight: 400;
  font-size: 18px !important;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1, h2 {
  color: white !important;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Style Script', cursive;
  font-size: 9rem !important;
  margin-top: 25vh !important;
  margin-bottom: -20px !important;
  text-shadow: 2px 2px 7px #000 !important; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

h2 { 
  margin-bottom: 80px !important;
  font-size: 3rem !important;
  font-family: 'Lato' !important;
  font-weight: 600 !important;
  font-style: italic;
  text-shadow: 2px 2px 4px #000 !important; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px !important;
    font-weight: 400;
    text-decoration: none;
    border-radius: 0px !important;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn-full,
.btn-full:link,
.btn-full:visited,
button[type=submit],
button[type=reset] {
    background-color: #003366 !important;
    border: 1px solid #003366  !important;
    color: #fff !important; }


.btn-full:hover,
.btn-full:active {
    border: 1px solid rgb(33, 201, 201) !important;
    background-color: rgb(33, 201, 201) !important;
    color: #000 !important;
}
    
.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited {
    background-color: transparent !important;
    border: 1px solid rgb(254, 189, 107) !important;
    color: #fff !important; }

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid rgb(254, 189, 107) !important;
    background-color: rgb(254, 189, 107) !important;
    color: #000 !important;
}

.btn-project,
.btn-project:link,
.btn-project:visited
{
    background-color: rgb(254, 189, 107) !important;
    border: 1px solid rgb(254, 189, 107) !important;
    border-radius: 0 !important;
    color: #000 !important; }

.btn-project:hover,
.btn-project:active {
    background-color: transparent !important;
    border: 1px solid rgb(254, 189, 107) !important;
    border-radius: 0 !important;
    color: #fff !important; }