@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: 'Lato', 'Arial', sans-serif !important;
  font-weight: 400 !important;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-size: 16px !important;
  scroll-behavior: smooth;
}

/* NavBar */
.nav-bar {
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}

.NavbarBrand {
  color: rgb(255, 255, 255) !important;
  text-shadow: 2px 2px 5px rgb(0, 0, 0) !important;
  font-size: 35px !important;
  font-weight: 500;
  font-family: 'Style Script', cursive;
}

.nav-link {
  color: white !important;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px !important;
  padding-left: 50px !important;
  text-shadow: 2px 1px 5px rgb(50, 50, 50) !important;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1, h2 {
  color: white !important;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Style Script', cursive;
  font-size: 9rem !important;
  text-shadow: 2px 2px 7px #000 !important; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

h2 { 
  margin-bottom: 80px !important;
  font-size: 3rem !important;
  font-family: 'Lato' !important;
  font-weight: 600 !important;
  font-style: italic;
  text-shadow: 2px 2px 5px #000 !important; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

h3 {
  font-family: 'Style Script', cursive;
  font-size: 3rem !important;
}

h4 {
  font-family: 'Style Script', cursive;
  font-size: 2rem !important;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 12px 30px !important;
    font-weight: 400;
    text-decoration: none;
    border-radius: 0px !important;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn-full,
.btn-full:link,
.btn-full:visited,
button[type=submit],
button[type=reset] {
    background-color: #003366 !important;
    border: 1px solid #003366  !important;
    color: #fff !important;
  }

.btn-full:hover,
.btn-full:active {
    border: 1px solid rgb(33, 201, 201) !important;
    background-color: rgb(33, 201, 201) !important;
    color: #000 !important;
}

.home {
  min-height: calc(100vh - 155px) !important;
  display: grid !important;
  align-content: center !important;
}

.social-links {
  font-size: 28px !important;
  text-align: right;
  text-shadow: 2px 2px 5px rgb(12, 11, 15) !important;
}

.copyright {
  text-align: left;
  color: rgb(255, 255, 255);
  display: grid !important;
  align-content: center !important;
}

.row-content {
  padding: 10px;
  align-content: center;
}

.form-label {
  font-size: 22px !important;
}

.backIcon {
  font-size: 40px !important;
}

/* Products */
.products {
  min-height: calc(100vh - 155px) !important;
  background-image: linear-gradient(-150deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

/* Card */
.card-title {
  font-size: 20px;
  color:black;
  font-weight: 600;
}

.card-text {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  color: rgb(50, 50, 50) !important;
}

.card-img-div { 
  position: relative !important;
}
.card-img-div:hover {
  transition: 0.4s !important;
  transform: scale(1.02);
}

.contactBox {
  background-image: url(./images/blurry-gradient-haikei.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */
.site-footer {
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

.footer-icon {
  color: #fff !important;
}


@media (max-width: 992px) {

  h1, h2 {
    color: white !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
  
  h1 {
    font-family: 'Style Script', cursive;
    font-size: 6rem !important;
    text-shadow: 2px 2px 7px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
  
  h2 { 
    margin-bottom: 80px !important;
    font-size: 3rem !important;
    font-family: 'Lato' !important;
    font-weight: 600 !important;
    font-style: italic;
    text-shadow: 2px 2px 4px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
}


@media (max-width: 768px) {
  
  h1, h2 {
    color: white !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    line-height: 80px !important;
  }
  
  h1 {
    font-family: 'Style Script', cursive;
    font-size: 5rem !important;
    text-shadow: 2px 2px 7px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
  h2 { 
    margin-bottom: 80px !important;
    font-size: 2rem !important;
    font-family: 'Lato' !important;
    font-weight: 600 !important;
    font-style: italic;
    text-shadow: 2px 2px 4px #000 !important; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
  .home {
    min-height: 100vh !important;
  }
  .copyright {
    text-align: center;
  }
  .social-links {
    font-size: 25px;
    padding-top: 5px;
    text-align: center !important;
  }
  .row-content {
    padding: 0;
  }
  .contactBox {
    background-image: none;
  }
}

@media (max-width: 576px) {
  #background-video {
    display: none;
  }
  h1, h2 {
    color: white !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    line-height: 80px !important;
  }
  h1 {
    font-family: 'Style Script', cursive;
    font-size: 6rem !important;
    text-shadow: 2px 2px 7px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
    line-height: 0.8 !important;
  }
  h2 { 
    margin-bottom: 80px !important;
    font-size: 2.5rem !important;
    font-family: 'Lato' !important;
    font-weight: 600 !important;
    font-style: italic;
    text-shadow: 2px 2px 4px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
  .home {
    min-height: 95vh !important;
    display: grid !important;
    align-content: center !important;
    padding-bottom: 15vh;
    background-image: url(images/1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}