@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: 'Lato', 'Arial', sans-serif !important;
  font-weight: 400 !important;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-size: 16px !important;
  scroll-behavior: smooth;
}

/* NavBar */
.nav-bar {
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}

.NavbarBrand {
  color: rgb(255, 255, 255) !important;
  text-shadow: 2px 2px 5px rgb(0, 0, 0) !important;
  font-size: 35px !important;
  font-weight: 500;
  font-family: 'Style Script', cursive;
}

.nav-link {
  color: white !important;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px !important;
  padding-left: 50px !important;
  text-shadow: 2px 1px 5px rgb(50, 50, 50) !important;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1, h2 {
  color: white !important;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Style Script', cursive;
  font-size: 9rem !important;
  text-shadow: 2px 2px 7px #000 !important; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

h2 { 
  margin-bottom: 80px !important;
  font-size: 3rem !important;
  font-family: 'Lato' !important;
  font-weight: 400 !important;
  font-style: italic;
  text-shadow: 2px 2px 5px #000 !important; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

h3 {
  font-family: 'Style Script', cursive;
  font-size: 3rem !important;
}

h4 {
  font-family: 'Style Script', cursive;
  font-size: 2rem !important;
}

a:hover {
  text-decoration: none !important;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px !important;
    font-weight: 400;
    text-decoration: none;
    border-radius: 0px !important;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn-full,
.btn-full:link,
.btn-full:visited,
button[type=submit],
button[type=reset] {
    background-color: #003366 !important;
    border: 1px solid #003366  !important;
    border-radius: 3px !important;
    color: #fff !important;
  }

.btn-full:hover,
.btn-full:active {
    border: 1px solid #03ddcfd1 !important;
    background-color: #03ddcfd1 !important;
    color: #000 !important;
}

.home {
  min-height: calc(100vh - 155px) !important;
  display: grid !important;
  align-content: center !important;
}

.social-links {
  font-size: 28px !important;
  text-align: right;
  text-shadow: 2px 2px 5px rgb(12, 11, 15) !important;
}

.copyright {
  text-align: left;
  color: rgb(255, 255, 255);
  display: grid !important;
  align-content: center !important;
}

.row-content {
  padding: 10px;
  align-content: center;
}

.form-label {
  font-size: 22px !important;
}

.backIcon {
  font-size: 40px !important;
}

/* Products */
.products {
  min-height: calc(100vh - 155px) !important;
  background-image: linear-gradient(-150deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

/* Card */
.card-title {
  font-size: 20px;
  color:black;
  font-weight: 600;
}

.card-text {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  color: rgb(50, 50, 50) !important;
}

.card-img-div { 
  position: relative !important;
}
.card-img-div:hover {
  transition: 0.4s !important;
  transform: scale(1.03);
  padding: 3px;
}

.contactBox {
  background-image: linear-gradient(-150deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  -webkit-box-shadow: 0 0 15px rgb(40, 37, 37, 0.2);
        box-shadow: 0 0 15px rgba(40, 37, 37, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Cart */
.cart {
  padding: 20px;
  background-image: linear-gradient(-150deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  /* box-shadow: -8px 8px 8px hsl(0 4% 15% / 10%) !important; */
  -webkit-box-shadow: 0 0 15px rgb(40, 37, 37, 0.2);
  box-shadow: 0 0 15px rgba(40, 37, 37, 0.2);
  transition: 0.3s;
}
.cart.active{
  right: 0;
}
.cart-title {
  font-family: 'Style Script', cursive !important;
  text-align: center;
  margin-top: 2rem;
}
.cart-content {
  width: 100%;
}
.cart-box {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  margin-top: 1rem;
  overflow: auto;
}
.cart-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 700;
}
.cart-quantity {
  border: 1px solid black;
  outline-color: rgb(44, 235, 172);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.add-to-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #003366;
  padding: 8px;
  cursor: pointer;
  font-size: 10px !important;
  color: rgb(255, 255, 255) !important;
}
.add-to-cart:hover {
  background: #4e00acd1;
}
.subtotal {
  width: 100%;
  display: flex !important;
  justify-content: flex-end !important;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px solid rgb(106, 106, 106) !important;
}
.total {
  width: 100%;
  display: flex !important;
  justify-content: flex-end !important;
}
.subtotal-title {
  font-size: 1.1rem !important;
  font-weight: 400 !important;
}
.total-title {
  font-size: 1.2rem !important;
  font-weight: 600;
}
.subtotal-price {
  margin-left: 0.5rem;
  font-size: 1.1rem;
}
.total-price {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-buy {
  display: flex !important;
  margin: 1rem auto 0 auto !important;
  padding: 12px 20px !important;
  border: none !important;
  border-radius: 3px !important;
  background: #fd4646d1 !important;
  color: #ffffff !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  cursor: pointer !important;
}
.btn-buy:hover {
  background: #171427 !important;
}
.cart-items-add,
.cart-items-remove {
  width: 30px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #fd4646d1;
  font-weight: 700;
}
.cart-items-add:hover,
.cart-items-remove:hover {
  background: #171427 !important;
}
.cart-items-add {
  margin-right: 10px;
}
.cart-items-add:active {
  transform: translateY(1.2px);
}
.cart-items-remove {
  margin-left: 10px;
}
.cart-items-remove:active {
  transform: translateY(1.2px);
}
.cart-length{
  font-weight: 500;
}
.clear-cart {
  display: flex !important;
  justify-content: flex-end !important;
  
}
.clear-cart-button {
  padding: 8px 12px !important;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background-color: #fd4646d1;
}
.clear-cart-button:hover {
  background: #171427 !important;
}
.item-total {
  font-size: 1rem !important;
}
/* Footer */
.site-footer {
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

.footer-icon {
  color: #fff !important;
}


@media (max-width: 992px) {

  h1, h2 {
    color: white !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
  
  h1 {
    font-family: 'Style Script', cursive;
    font-size: 6rem !important;
    text-shadow: 2px 2px 7px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
  
  h2 { 
    margin-bottom: 80px !important;
    font-size: 3rem !important;
    font-family: 'Lato' !important;
    font-weight: 600 !important;
    font-style: italic;
    text-shadow: 2px 2px 4px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
}


@media (max-width: 768px) {
  
  h1, h2 {
    color: white !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    line-height: 80px !important;
  }
  
  h1 {
    font-family: 'Style Script', cursive;
    font-size: 5rem !important;
    text-shadow: 2px 2px 7px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
  h2 { 
    margin-bottom: 80px !important;
    font-size: 2rem !important;
    font-family: 'Lato' !important;
    font-weight: 600 !important;
    font-style: italic;
    text-shadow: 2px 2px 4px #000 !important; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
  .home {
    min-height: 100vh !important;
  }
  .copyright {
    text-align: center;
  }
  .social-links {
    font-size: 25px;
    padding-top: 5px;
    text-align: center !important;
  }
  .row-content {
    padding: 0;
  }
  .contactBox {
    background-image: none;
  }
}

@media (max-width: 576px) {
  #background-video {
    display: none;
  }
  h1, h2 {
    color: white !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    line-height: 80px !important;
  }
  h1 {
    font-family: 'Style Script', cursive;
    font-size: 6rem !important;
    text-shadow: 2px 2px 7px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
    line-height: 0.8 !important;
  }
  h2 { 
    margin-bottom: 80px !important;
    font-size: 2.5rem !important;
    font-family: 'Lato' !important;
    font-weight: 600 !important;
    font-style: italic;
    text-shadow: 2px 2px 4px #000 !important;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
  .home {
    min-height: 95vh !important;
    display: grid !important;
    align-content: center !important;
    padding-bottom: 15vh;
    background-image: url(images/1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}